
:root{
  --textcolor: rgb(218, 218, 218);
  --titlecolor: rgb(228, 228, 228);
  --dashtextcolor: #afcfcd;
}

/* Project and announcement text styling*/
p, ul{
  color: var(--textcolor);
}

body{
  height:100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: minmax(155px, 20%) 9fr;
  font-family: 'Roboto', sans-serif;
}

/* SIDEBAR */

.sidebar
{
  display: grid;
  grid-row: span 3;
  background-color: rgb(25, 32, 31);
  grid-template-columns: 1fr;
  grid-template-rows: 90px repeat(10, 60px) 1fr;
  border-right: 2px dashed rgb(39, 15, 39)
}

.dashboard,.sidebarA,.sidebarB{
  display: grid;
  grid-template-columns: 30px 5fr;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.dashboard p{
  font-size: 20px;
  font-weight: bold;
  color: var(--dashtextcolor);
}

.dashboard .icons,
.sidebarA .icons,
.sidebarB .icons,
.project .icons
{
  height: 20px;
  filter: invert(96%) sepia(8%) saturate(193%) hue-rotate(126deg) brightness(96%) contrast(90%);
}

.sidebarA{
  grid-row-start: 3;
}

.sidebarB{
  grid-row-start: 7;
}

.sidebarA ul, .sidebarB ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: rgb(175, 207, 205);
}

/* END SIDEBAR */

/* HEADER */

.header{
  grid-column-start: 2;
  grid-row: span 1;
  background-color: rgb(26, 26, 26);
  display: grid;
  grid-template-rows: 3fr 4fr;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.headerTop{
  grid-row: span 1;
  display: grid;
  grid-template-columns: 25px 8fr 25px 100px 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(26, 26, 26);
  align-items: center;
}

.headerTop .icons{
  display: grid;
  align-self: center;
  max-height: 20px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(20deg) brightness(106%) contrast(102%);
}

.searchcontainer{
  display: grid;
  align-self: center;
  padding-right: 110px;
}

#search{
  border-radius: 50px;
  height: 1.5em;
  background-color:rgb(63, 63, 63);
  color: white;
  font-weight: bold;
}

.headerTop #profilepic{
  display: grid;
  align-self: center;
  justify-self: center;
  max-height: 55px;
}

.headerTop #profilename{
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.headerBottom{
  display: grid;
  grid-template-columns: 1fr 7fr 2fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

#pfp2wrapper{
  min-width: 0;
  max-width: 75%;
}

#profilepic2{
  display: grid;
  height: auto;
  min-height: 0;
  min-width: 70px;
  max-width: 75%;
}

.greetingcontainer{
  justify-self: start;
}

.greetingcontainer p{
  margin: 0;
}

#hello{
  font-size:12px;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

.headerBottom #profilename{
  font-weight: bold;
  font-size: 20px;
}

.headerBottom button{
  border-radius: 50px;
  background-color: rgb(12, 0, 19);
  color: rgb(245, 245, 245);
  font-weight: bold;
  border: 2px solid rgb(116, 97, 115);
  height: 40px;
  width: 90px;
}

/* END HEADER */

/* MAIN */

.content{
  background-color:rgb(12, 5, 12);
  display: grid;
  grid-template-columns: minmax(400px, 3fr) 1fr;
  padding-right: 50px;
}

#projecttitle{
  grid-column: 1/-1;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  align-content: center;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 30px repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.project{
  display: grid;
  grid-template-rows: 20px 1fr 30px;
  border-radius: 10px;
  border: 1px solid rgb(116, 97, 115);
  border-left:10px solid rgb(213, 201, 219);
}

.project .headline{
  display: grid;
  align-content: center;
  font-size: 20px;
  color: rgb(228, 228, 228);
  font-weight: bold;
}

.project p{
  padding: 10px;
  font-size: 1em;
}

.imagecontainer{
  display: grid;
  grid-template-columns: 1fr 50px 50px 50px;
}

/* END MAIN */

/* MISC PANELS */

.misc{
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 10px;
}

#announcementtitle,
#trendingtitle,
#projecttitle{
  color: var(--titlecolor);
}

.announcements{
  display: grid;
  grid-template-rows: 30px 1fr;
  gap: 20px;
}

.announcementcontainer, 
.trendcontainer{
  padding: 20px;
  border: 1px solid rgb(116, 97, 115);
  border-radius: 15px;
}

.headline, .at{
  color: var(--titlecolor);
  font-weight: bold;
}

.announcement:not(:last-child),
.trendcontainer:not(:last-child){
  border-bottom: 1px solid rgb(116, 97, 115);
}

#announcementtitle,
#trendingtitle{
  display: grid;
  align-content: center;
  font-weight: bold;
  font-size: 25px;
  padding: 0px;
}  

.trending{
  display: grid;
}

.trendprofile{
  display: grid;
  align-self: center;
  width: 50px;
}

.trend{
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: repeat(auto-fit, 90px);
  gap: 10px;
}

/* Trend text styling */

.tsubtitles{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.at{
  align-self: end;
}

.subtitle{
  color: var(--textcolor);
  overflow-wrap: anywhere;
}

